<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b1afb57af7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header class="home__header">
        <div class="home__header-div">
            <div class="home__header-div-imglogo">
                <img src="/img/logo/logo.png" alt="logo">

                <div class="hamburgesa">
                    <i class="fa-solid fa-bars fa-xl"></i>
                </div>
            </div>
            <nav class="home__header-nav">
                <ul>
                    <li><a href="adsd">SmartPhones</a></li>
                    <li><a href="adsd">Tablets</a></li>
                    <li><a href="asdas"> Computadoras</a></li>

                </ul>
            </nav>
            <nav class="home__header-nav-user">

                <ul>
                    <li> <a href="">login</a></li>
                    <li> <a href="">Registro</a></li>
                </ul>


            </nav>
        </div>
    </header>

    <main>
        <div class="home__main__div">
            <article>
                <div class="home__main__article_divs">

                    <img src="/img/productos/img-phone-01.jpg" alt="">
                    <div class="descripcion">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum, numquam tenetur
                            itaque amet voluptatibus, ae</p>
                        <div class="Boton-saberMas">
                            <p>
                                VER MAS
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>

                <div class="home__main__article_divs"><img src="/img/productos/img-phone-02.jpg" alt="">
                    <div class="descripcion">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum, numquam tenetur
                            itaque amet voluptatibus, ae</p>
                        <div class="Boton-saberMas">
                            <p>
                                VER MAS
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="home__main__article_divs">

                    <img src="/img/productos/img-phone-03.jpg" alt="">
                    <div class="descripcion">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum, numquam tenetur
                            itaque amet voluptatibus, ae</p>
                        <div class="Boton-saberMas">
                            <p>
                                VER MAS
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="home__main__article_divs">

                    <img src="/img/productos/img-phone-01.jpg" alt="">
                    <div class="descripcion">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum, numquam tenetur
                            itaque amet voluptatibus, ae</p>
                        <div class="Boton-saberMas">
                            <p>
                                VER MAS
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="home__main__article_divs">

                    <img src="/img/productos/img-phone-02.jpg" alt="">
                    <div class="descripcion">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum, numquam tenetur
                            itaque amet voluptatibus, ae</p>
                        <div class="Boton-saberMas">
                            <p>
                                VER MAS
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="home__main__article_divs">
                    <img src="/img/productos/img-phone-03.jpg" alt="">
                    <div class="descripcion">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum, numquam tenetur
                            itaque amet voluptatibus, ae</p>
                        <div class="Boton-saberMas">
                            <p>
                                VER MAS
                            </p>
                        </div>
                    </div>
                </div>
            </article>





        </div>
    </main>


    <aside>

        <div class="home__aside">
            <div class="home__aside-tutoriales">
                <div class="home__aside_tutoriales--titulo">
                    <h2>Tutoriales</h2>
                </div>
                <nav class="home__aside__nav">
                    <ul>
                        <li><img src="/img/tutoriales/aside-01.jpg">
                            <a href="">Titulo del tutorial de reparacion </a>
                        </li>
                        <li><img src="/img/tutoriales/aside-02.jpg"> <a href="">Titulo del tutorial de reparacion </a>
                        </li>
                        <li><img src="/img/tutoriales/aside-03.jpg"><a href=""> Titulo del tutorial de reparacion </a>
                        </li>
                        <li><img src="/img/tutoriales/aside-04.jpg"> 
                            <a href="">Titulo del tutorial de reparacion </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--     <div>
                <h2>Publicidad</h2>
                <img src="sda.png">
                <img src="sda.png">
            </div> -->
        </div>
    </aside>
</body>

</html>